.home {
  font-family: "Segoe UI", Arial, sans-serif;
  padding: 20px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.userCard {
  box-shadow: -2.5776965618133545px 6.873857021331787px 20.621572494506836px 0px
    rgba(0, 0, 0, 0.23);
  background: linear-gradient(
    114.99deg,
    #471ca9 -0.99%,
    #5736a3 54.28%,
    #4b2a99 78.99%
  );
  image: url("../img/picture34.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 380px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.userCard::before {
  content: "";
  position: absolute;
  left: 56%;
  top: 52%;
  transform: translateX(-55%);
  bottom: 0;
  width: 430px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 2px;
  z-index: 0;
}

.userCard p {
  margin: 8px 0;
  color: rgba(235, 216, 255, 1);
}

.userCard p:last-child {
  font-weight: bold;
}

.button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}

.button.primary {
  background-color: #0078d4;
  color: #fff;
}

.button.primary:hover {
  background-color: #005a9e;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 8px;
}

.logoContainer {
  float: left;
}
